<a href="https://colab.research.google.com/github/yuvshan05/pandas_python_library/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
a=[1,2,4,24,45,23]
b=pd.Series(a)
print(b)

0     1
1     2
2     4
3    24
4    45
5    23
dtype: int64

In [4]:
c=['a','b','c','d','e','f']
ef=pd.Series(a,c)
print(ef)
print(ef['e'])
print(ef[4])

a     1
b     2
c     4
d    24
e    45
f    23
dtype: int64
45
45

In [5]:
#using dictionary
d1={'a':1,'b':2,'c':3}
d2=pd.Series(d1)
print(d2)

a    1
b    2
c    3
dtype: int64

In [6]:
f=[[1,2,3],[4,5,6]]
g=pd.Series(f)
print(g)

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

In [11]:
d1={'age':[23,34,23,54],'name':["rahul",'mukesh','chaudhary','yuvraj']}
d2=pd.DataFrame(d1)
d2

   age       name
0   23      rahul
1   34     mukesh
2   23  chaudhary
3   54     yuvraj

In [12]:
d1=[[4,90],[3,87],[6,78],[4,789]]
d2=pd.DataFrame(d1,columns=['bedrooms','area'])
d2

   bedrooms  area
0         4    90
1         3    87
2         6    78
3         4   789

In [14]:
d1={'name':['ankit','cirat','durgesh'],'marks':[20,20,19]}
d2=pd.DataFrame(d1,index= ['rank 1','rank 2','rank 3'])
d2

           name  marks
rank 1    ankit     20
rank 2    cirat     20
rank 3  durgesh     19

In [21]:
import numpy as np
import pandas as pd
import random as r
import string as s

df=pd.DataFrame({'a':[r.randint(1,9) for i in range(5)],
                'b':[r.randint(1,9)*10 for i in range(5)],
                'd':[''.join(r.sample(s.ascii_letters , 5))for i in range(5)]})
df

   a   b      d
0  5  70  rvelJ
1  5  30  qJgLG
2  2  80  lPBwD
3  6  30  hjEPW
4  7  40  XPnfa

In [22]:
djl=pd.merge(d2,df,on='Key')

KeyError: ignored

In [23]:
dates=pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
dates=pd.date_range(start='1/2/2023',end='12/02/2023')
dates

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09',
               '2023-01-10', '2023-01-11',
               ...
               '2023-11-23', '2023-11-24', '2023-11-25', '2023-11-26',
               '2023-11-27', '2023-11-28', '2023-11-29', '2023-11-30',
               '2023-12-01', '2023-12-02'],
              dtype='datetime64[ns]', length=335, freq='D')